@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraLight.ttf");
}

:root {
  --font-poppins: "Poppins", sans-serif;

  --color-sidebar: #11492B;
  --color-teks: #374151;
  --color-teks-samping: #6b7280;
  --color-garis: #e5e7eb;
  --color-hijau: #00b074;
  --color-merah: #ef4444;
  --color-biru: #3b82f6;
  --color-kuning: #f59e0b;
}
